# MeaWallet private package registry (auth via env: NEXUS_USERNAME, NEXUS_PASSWORD)
# npm config set //nexus.ext.meawallet.com/repository/react-native-mpp/:username $NEXUS_USERNAME
# npm config set //nexus.ext.meawallet.com/repository/react-native-mpp/:_password $(echo -n $NEXUS_PASSWORD | base64)
@meawallet:registry=https://nexus.ext.meawallet.com/repository/react-native-mpp/
